<launch>
    
    <!-- Parameters configuration -->
    <arg name="run_master" default="true" doc="Whether run teleoperation master node." />
    
    <!-- Run teleoperation master node -->
    <include file="$(find touch_teleoperation)/launch/master_touch.launch" if="$(arg run_master)" />
    
</launch>
